/////Colour Variables/////

//Backgrounds
$page-background-1: #5b876c;
$page-background-2: #575757;
$page-background-3: #171b18;
$controls-background-1: #395243;
$controls-background-2: #313131;
$controls-background-3: #0e110f;
$gameplay-area-background: #7a2718;

//Borders
$display-border: #000000;

//Power buttons
$power-top-off: #ff0000;
$power-top-on: #02ff62;

$power-bottom-off: #898989;
$power-bottom-on: #ffffff;

//Footer
$footer-font-colour: #ffffff;

/////Font Variables/////
