@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $page-background;
}

.game-display {
  height: 500px;
  border: 2px solid $display-border;

  &__player {
    position: sticky;
    left: 0px;
    top: 0px;
  }
}

.game-controls__arrows {
  #down {
    transform: rotate(180deg);
  }
  #right {
    transform: rotate(90deg);
  }
  #left {
    transform: rotate(270deg);
  }
}
